<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

# **Hands-on Practice Lab: Importing Dataset - Laptops Pricing**

Estimated time needed: **20** minutes

In this lab, you will practice the process of loading and drawing basic insights on a dataset as learnt through the module. You are being provided with a fresh dataset on 'Laptop Pricing' which will be used for all the practice labs throughout the course.

# Objectives

After completing this lab you will be able to:

 - Import a dataset from a CSV file to a Pandas dataframe
 - Develop some basic insights about the dataset

# Setup

For this lab, we will be using the following libraries:

* `skillsnetwork` for downloading the daataset

*   [`pandas`](https://pandas.pydata.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for managing the data.
*   [`numpy`](https://numpy.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for mathematical operations.

### Importing Required Libraries

In [2]:
import pandas as pd
import numpy as np

The data set to be used is available on the link below.

The functions below will download the dataset into your browser:

To obtain the dataset, utilize the download() function as defined above:

In [3]:
file_name="laptops.csv"
df = pd.read_csv(file_name)
df

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,233,Lenovo,4,IPS Panel,2,1,7,35.560,2.6,8,256,1.70,1891
234,234,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.20,1950
235,235,Lenovo,4,IPS Panel,2,1,5,30.480,2.6,8,256,1.36,2236
236,236,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.40,883
237,237,Toshiba,3,Full HD,2,1,5,35.560,2.3,8,256,1.95,1499

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface. While working on the downloaded version of this notebook on their local machines, the learners can simply **skip the steps above**, and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

<h1> Task #1: </h1>
<h3>Load the dataset to a pandas dataframe named 'df'</h3>
Print the first 5 entries of the dataset to confirm loading.

In [7]:
# Write your code below and press Shift+Enter to execute.
df = pd.read_csv(file_name)
print(df.head())

   Unnamed: 0 Manufacturer  Category     Screen  GPU  OS  CPU_core  \
0           0         Acer         4  IPS Panel    2   1         5
1           1         Dell         3    Full HD    1   1         3
2           2         Dell         3    Full HD    1   1         7
3           3         Dell         4  IPS Panel    2   1         5
4           4           HP         4    Full HD    2   1         7

   Screen_Size_cm  CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
0          35.560            1.6       8             256       1.60    978
1          39.624            2.0       4             256       2.20    634
2          39.624            2.7       8             256       2.20    946
3          33.782            1.6       8             128       1.22   1244
4          39.624            1.8       8             256       1.91    837

<details><summary>Click here for solution</summary>

```python
df = pd.read_csv(file_name, header=None)
print(df.head())
```
</details>

<h1> Task #2: </h1>
<h3>Add headers to the dataframe</h3>
The headers for the dataset, in sequence, are "Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core",
"Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg" and "Price".

Confirm insertion by printing the first 10 rows of the dataset.

In [9]:
# Write your code below and press Shift+Enter to execute.
# create headers list
headers = ["id","Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core", "Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg", "Price"]
df.columns = headers
print(df.head(10))

   id Manufacturer  Category     Screen  GPU  OS  CPU_core  Screen_Size_inch  \
0   0         Acer         4  IPS Panel    2   1         5            35.560
1   1         Dell         3    Full HD    1   1         3            39.624
2   2         Dell         3    Full HD    1   1         7            39.624
3   3         Dell         4  IPS Panel    2   1         5            33.782
4   4           HP         4    Full HD    2   1         7            39.624
5   5         Dell         3    Full HD    1   1         5            39.624
6   6           HP         3    Full HD    3   1         5            39.624
7   7         Acer         3  IPS Panel    2   1         5            38.100
8   8         Dell         3    Full HD    1   1         5            39.624
9   9         Acer         3  IPS Panel    3   1         7            38.100

   CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
0            1.6       8             256       1.60    978
1            2.0       4             256       2.20    634
2            2.7       8             256       2.20    946
3            1.6       8             128       1.22   1244
4            1.8       8             256       1.91    837
5            1.6       8             256       2.20   1016
6            1.6       8             256       2.10   1117
7            1.6       4             256       2.20    866
8            2.5       4             256       2.30    812
9            1.8       8             256       2.20   1068

<details><summary>Click here for solution</summary>

```python
# create headers list
headers = ["Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core", "Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg", "Price"]
df.columns = headers
print(df.head(10))
```
</details>

<h1> Task #3: </h1>
<h3>Replace '?' with 'NaN'</h3>
Replace the '?' entries in the dataset with NaN value, recevied from the Numpy package.

In [11]:
# Write your code below and press Shift+Enter to execute.
df.replace('?',np.nan, inplace = True)
df

,id,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,233,Lenovo,4,IPS Panel,2,1,7,35.560,2.6,8,256,1.70,1891
234,234,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.20,1950
235,235,Lenovo,4,IPS Panel,2,1,5,30.480,2.6,8,256,1.36,2236
236,236,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.40,883
237,237,Toshiba,3,Full HD,2,1,5,35.560,2.3,8,256,1.95,1499

<details><summary>Click here for solution</summary>

```python
df.replace('?',np.nan, inplace = True)
```
</details>

<h1> Task #4: </h1>
<h3>Print the data types of the dataframe columns</h3>
Make a note of the data types of the different columns of the dataset.

In [12]:
# Write your code below and press Shift+Enter to execute.
print(df.dtypes)

id                    int64
Manufacturer         object
Category              int64
Screen               object
GPU                   int64
OS                    int64
CPU_core              int64
Screen_Size_inch    float64
CPU_frequency       float64
RAM_GB                int64
Storage_GB_SSD        int64
Weight_kg           float64
Price                 int64
dtype: object

<details><summary>Click here for solution</summary>

```python
print(df.dtypes)
```
</details>

<h1> Task #5: </h1>
<h3>Print the statistical description of the dataset, including that of 'object' data types.</h3>

In [13]:
# Write your code below and press Shift+Enter to execute.
print(df.describe(include='all'))

                id Manufacturer    Category   Screen         GPU          OS  \
count   238.000000          238  238.000000      238  238.000000  238.000000
unique         NaN           11         NaN        2         NaN         NaN
top            NaN         Dell         NaN  Full HD         NaN         NaN
freq           NaN           71         NaN      161         NaN         NaN
mean    118.500000          NaN    3.205882      NaN    2.151261    1.058824
std      68.848868          NaN    0.776533      NaN    0.638282    0.235790
min       0.000000          NaN    1.000000      NaN    1.000000    1.000000
25%      59.250000          NaN    3.000000      NaN    2.000000    1.000000
50%     118.500000          NaN    3.000000      NaN    2.000000    1.000000
75%     177.750000          NaN    4.000000      NaN    3.000000    1.000000
max     237.000000          NaN    5.000000      NaN    3.000000    2.000000

          CPU_core  Screen_Size_inch  CPU_frequency      RAM_GB  \
count   238.000000        234.000000     238.000000  238.000000
unique         NaN               NaN            NaN         NaN
top            NaN               NaN            NaN         NaN
freq           NaN               NaN            NaN         NaN
mean      5.630252         37.269615       2.360084    7.882353
std       1.241787          2.971365       0.411393    2.482603
min       3.000000         30.480000       1.200000    4.000000
25%       5.000000         35.560000       2.000000    8.000000
50%       5.000000         38.100000       2.500000    8.000000
75%       7.000000         39.624000       2.700000    8.000000
max       7.000000         43.942000       2.900000   16.000000

        Storage_GB_SSD   Weight_kg        Price
count       238.000000  233.000000   238.000000
unique             NaN         NaN          NaN
top                NaN         NaN          NaN
freq               NaN         NaN          NaN
mean        245.781513    1.862232  1462.344538
std          34.765316    0.494332   574.607699
min         128.000000    0.810000   527.000000
25%         256.000000    1.440000  1066.500000
50%         256.000000    1.870000  1333.000000
75%         256.000000    2.200000  1777.000000
max         256.000000    3.600000  3810.000000

<details><summary>Click here for solution</summary>

```python
print(df.describe(include='all'))
```
</details>

<h1> Task #6: </h1>
<h3>Print the summary information of the dataset.</h3>

In [14]:
# Write your code below and press Shift+Enter to execute.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                238 non-null    int64
 1   Manufacturer      238 non-null    object
 2   Category          238 non-null    int64
 3   Screen            238 non-null    object
 4   GPU               238 non-null    int64
 5   OS                238 non-null    int64
 6   CPU_core          238 non-null    int64
 7   Screen_Size_inch  234 non-null    float64
 8   CPU_frequency     238 non-null    float64
 9   RAM_GB            238 non-null    int64
 10  Storage_GB_SSD    238 non-null    int64
 11  Weight_kg         233 non-null    float64
 12  Price             238 non-null    int64
dtypes: float64(3), int64(8), object(2)
memory usage: 24.3+ KB
None

<details><summary>Click here for solution</summary>

```python
print(df.info())
```
</details>

---

# Congratulations! You have completed the lab

## Authors

[Abhishek Gagneja](https://www.coursera.org/instructor/~129186572)

[Vicky Kuo](https://author.skills.network/instructors/vicky_kuo)

## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-09-15|0.1|Abhishek Gagneja|Initial Version Created|
|2023-09-18|0.2|Vicky Kuo|Reviewed and Revised|

Copyright © 2023 IBM Corporation. All rights reserved.