# List Excercises- Advanced

Complete the following practice excercises below to build up your skills with manipulating lists.

**Problem 1**



*   Using the list below, use a Class method to add the string "skirt" to the end of the list.

Amare Diotte
Data Engineering
ACT 340.5.2 
Lists Advanced

In [2]:
clothing= ['socks', 'pants', 'shirt', 'polo']
clothing.append('skirt')
print(clothing)

['socks', 'pants', 'shirt', 'polo', 'skirt']

**Problem 2**



*   Using the same list as above, add a list to the 2nd index that includes the following strings:
> 'suit jacket', 'suit pants', 'tie', 'button down'

In [3]:
clothing.insert(2,['suit jacket', 'suit pants', 'tie', 'button down'])
print(clothing)

['socks', 'pants', ['suit jacket', 'suit pants', 'tie', 'button down'], 'shirt', 'polo', 'skirt']

**Problem 3**



*   Use the list below and use a Class method to get the total number of times the integer 14 appears in the list.

In [5]:
nums= [2, 150, 14, 36, 78, 81, 14, 1000, 54, 14, 14]
print(nums.count(14))

print(nums.count(15))

4
0

**Problem 4**


*  Use the same list as above
*  Use a built-in function to find the total of all the numbers in the list.

In [ ]:
print(sum(nums))

1457

**Problem 5**



*   Use the same list as above
*   Slice the list so that it is reversed without using the .reverse() method

In [7]:
reversed_list = nums[::-1]
print(reversed_list)

[14, 14, 54, 1000, 14, 81, 78, 36, 14, 150, 2]

**Problem 6**



*   Use the list below.
*   Slice the list so only the last two elements are included in the slice.

In [14]:
one_to_five= [1, 2, 3, 4, 5]
print(one_to_five[-2:])
print(one_to_five[len(one_to_five)-2:])

[4, 5]
[4, 5]

**Problem 7**

*   Use the list below
*   Write a for loop so that every item in the list is printed

In [9]:
animals= ["koala", "cat", "fox", "panda", "chipmunk", "sloth"]
for animal in animals:
    print(animal)

koala
cat
fox
panda
chipmunk
sloth

**Problem 8**



* Use the list below
* Create a function that accepts a list as an argument
*   Check if the data type at each index is a list
*   If it is a list, check the length of the list. If it is greater than 3, add the second element to a new list.
*   Return the new list

In [20]:
random_things= ['hello', ['breakfast', 'you', 'pencil', 2], 22, ['burrito', 'taco'],
                [22, 'win', 33, [5], 'laptop']]

def list_check(my_list):
    new_list = []
    for item in my_list:
        if type(item) == list:
            if len(item) > 3:
                new_list.append(item[1])
    return new_list

list_check(random_things)

['you', 'win']

**Problem 9**



*   Use the list below
*   Create a new list
*   Use a for loop and the append() method to append each item with a Dr. prefix to the new list.

In [21]:
names= ['Dre', 'Seuss', 'Who', 'McCoy']
Doctors = []
for name in names:
  Doctors.append("Dr. "+name)
print(Doctors)

['Dr. Dre', 'Dr. Seuss', 'Dr. Who', 'Dr. McCoy']

**Problem 10**



*   Use the list below
*   Use a while loop, iterate through the list and if there is an integer 100, print a message that says what index the 100 is at
*   Example: "There is a 100 at index no: 5"

In [26]:
num2= [10, 99, 85, 76, 43, 2, 77, 100, 13, 12, 42, 99, -1, -100]
itr = 0
while itr < len(num2) - 1:
    if num2[itr] == 100:
        print("There is a 100 at index no:", itr)
    itr += 1

There is a 100 at index no: 7

**Problem 11**




*   Use the list below
*   Create a new list
*   Use a for loop or a whole loop to iterate through the list and append all the elements in the old list, to the new list UNLESS the element is an empty string

In [30]:
list1= ["McDonald's", "Wendy's", "", "Burger King", "", "Taco Bell", "", "Dunkin' Donuts"]
new_list = []
for i in list1:
  if i:
    new_list.append(i)
print(new_list)

["McDonald's", "Wendy's", 'Burger King', 'Taco Bell', "Dunkin' Donuts"]

In [37]:

my_list = [1, 2, 3]
another_list = [4, 5, 6]
my_list.append(another_list)
print(my_list)  # Output: [1, 2, 3, [4, 5, 6]]

my_list = [1, 2, 3]
another_list = [4, 5, 6]
my_list.extend(another_list)
  # Output: [1, 2, 3, 4, 5, 6]
another_list.append(7)
print(my_list,another_list)

my_list = [1, 2, 3]
another_list = [4, 5, 6]
object_list = dict(zip(my_list, another_list))
print(object_list)

[1, 2, 3, [4, 5, 6]]
[1, 2, 3, 4, 5, 6] [4, 5, 6, 7]
{1: 4, 2: 5, 3: 6}